/* ================= FOOTER PAGE ONLY ================= */

/* -------------------- FOOTER -------------------- */
.projects-footer {
  margin-top: 6rem;
  padding: calc(2rem + 1vw) 0;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* -------------------- GALLERYYY -------------------- */
.galleryyy {
    padding-top: 10rem;
    padding-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-image: url("/office.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ECECEC;
}

ul,.social_links{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.galleryyy>img {
  margin-top: 2rem; /* reduced from 350px */
  max-width: 10%;
  max-height: 50vh;
  z-index: 1;
}

.galleryyy hr {
  border: 1px solid #f8f8f8;
  width: 93%;
  z-index: 1;
}

.galleryyy .roooow {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 85%;
}
.location{
    margin: 0 !important;
        width: 33%;
}
.projects-footer h2{
    font-family: 'mont';
    text-transform: uppercase;
}

/* overlay */
.galleryyy::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #20252D;
  z-index: 0;
  opacity: 0.8;
}

/* -------------------- SOCIAL -------------------- */
ul,
ol {
  list-style: none;
  padding: 0;
}
.social{
    margin: 0 !important;
    width: 33%;
        gap: 2rem;
}
.hours{
margin: 0 !important;
    width: 33%;
    gap: 2rem;
}
.location{
margin: 0 !important;
    width: 33%;
    gap: 2rem;
}

.social h2{
    margin-bottom: 0;
}

.social_links {
  display: flex;
  
  justify-content: center;
}
.insta,
.linkedin{
    max-height: 20px;
}
.insta,
.linkedin{
    margin: 3px !important;
}

.linkedin img,
.insta img {
    margin: 0;
  width: 100% !important;
  height: 20px;
}
@font-face {
  font-family: "mont";
  src: url("/src/assets/fonts/Montserrat-Light.ttf") format("truetype");
}
