.login{

    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #20252D;
        gap: 2vh;
            padding: 2rem ;
            color: #D8D8D8;
            overflow-y: hidden;
}
.login-page{
    width: 50% !important;

        background-color: #20252D;
        border-color: #37393b;
        border-width: 6px;
        border-style: solid;
        border-radius: 15px;
        color: #D8D8D8;
        padding: 10px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        align-items: center;

}
.login-page div{
    width: 100%;
    margin-bottom:2vh ;
}
.login-page .password{
    width: 100%;
    margin-bottom:2vh ;
}