-------------------- RESET --------------------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* -------------------- PAGE -------------------- */
.page {
  min-height: 100vh;
  width: 100%;
  background-color: #D8D8D8!important;
  font-family: "Red Hat Display";
}

/* -------------------- HEADER -------------------- */
header {
  background-color: #D8D8D8;
  color: #20252D;
}

.tohome {
  color: #20252D !important;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 0;
  margin-left: 28rem;
  display: inline-block;
  margin-bottom: 30rem;
}

/* -------------------- GALLERY (MAIN PAGE) -------------------- */
.gallery2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

/* -------------------- COLUMNS -------------------- */
.collum,
.collumn {
  display: flex;
  flex-direction: column;

  width: 100%;

}

.collum {
  background-color: #D8D8D8;
}

.collumn {
  background-color: #20252D;
  color: #f8f8f8;
}

/* -------------------- CARDS -------------------- */
.card-left,
.card-right,
.card-right1 {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-left {
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 5rem;
  padding-right: 5%;
  text-align: right;
}

.card-right,
.card-right1 {
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5rem;
  text-align: left;
}
li a{
  color: #D8D8D8;
  text-decoration: underline;
}

/* -------------------- IMAGES -------------------- */
.card-left img,
.card-right img,
.card-right1 img {
  width: 44.5vw;
  height: 44.5vw;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0;

}

/* -------------------- TEXT -------------------- */
.card-left span,
.card-right span {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.holding2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 47.5vw !important;
}
.tohome2 {
  color: #20252D !important;
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 0;
  margin-left: 30rem;
  display: inline-block;
  margin-bottom: 30rem;
}
.card-left span{
    align-items: flex-end;
}

.collum h2,
.collum h3 {
  color: #20252D;

}

.collum p {
  color: #391B0B;
  line-height: 1.4;
}

.card-left h2,
.card-right h2,
.card-right1 h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Red Hat Display mid";
    margin: 0;
}

.card-left h3,
.card-right h3,
.card-right1 h3 {
  font-size: 0.95rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
    margin: 0;
}

.card-left h4,
.card-right h4,
.card-right1 h4 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "Red Hat Display mid" ;
}

.card-right p {
  margin-right: 5rem;
    margin: 0;
    text-align: justify;
}
.card-left p{
    margin: 0;
    text-align: justify;
}

/* -------------------- LINKS -------------------- */
a {
  margin: 1rem;

}

.card-left a,
.card-right a {
  color: #007bff;
  text-decoration: none;
}
.page_content{
    background-color: #D8D8D8!important;
}
.card-left a:hover,
.card-right a:hover {
  text-decoration: underline;
}

/* -------------------- MIDDLE IMAGES -------------------- */
.middle-image {

  width: 90% !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: 5%;
}

.middle-image img {
  min-width: 100% !important;
  max-height: 100%;
}

.westdell {

  width: 100%;
  display: flex;
  justify-content: center;
}

.westdell img {
  max-width: 100%;
  object-fit: contain;
}

/* -------------------- MOBILE -------------------- */
@media (max-width: 768px) {
  .card-left,
  .card-right {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .card-left img,
  .card-right img {
    width: 160px;
    height: 160px;
  }
}

/* -------------------- FONTS -------------------- */
@font-face {
  font-family: "Red Hat Display";
  src: url("/src/assets/fonts/RedHatDisplayRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Red Hat Display Heavy";
  src: url("/src/assets/fonts/RedHatDisplayBold.ttf") format("truetype");
}
