
  #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
}
title{
  font-size: larger;
}
.goto{
  background:#B2B4B6 ;
  font-size: 25px;
  padding: 7px;
  border-radius: 10%;

}



.gallery {

  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;

  max-width: 1200px;

}
.galleryy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  gap: 20px;
  justify-content: center;

}

.gallery figure {

  background: #f4f4f4;
  padding: 12px;
  border-radius: 10px;
width: 20%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  justify-content: center;
}


.gallery img {
  width: 100% !important;
  aspect-ratio: 1 / 1 !important;
  object-fit: cover !important;
    width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.galleryy img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.gallery figcaption {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #333;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
